SUBSYSTEM=="input", ATTRS{name}=="remote-touchpad-touchpad", ENV{ID_INPUT}="1", ENV{ID_INPUT_TOUCHPAD}="1", ENV{ID_INPUT_TOUCHPAD_INTEGRATION}="external"
